body {
  background-color:white;
}

header {
  background-color:darkolivegreen;
}

header h1 {
  text-align: center;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:70px;
  text-decoration:underline;
  margin-top:0;
  margin-bottom:o;
  padding-top:20px;
  padding-bottom:0;
}

/*
header h6 {
  text-align
}
*/

header p {
  text-align:center;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  padding-bottom:20px;
}

footer {
  background-color:darkolivegreen;
  height:50px;
}

footer p {
  font-size:20px;
  text-align:center;
  color:white;
  padding-top:15px;
  padding-bottom:30px;
}

h1 {
	font-family:'Times New Roman', Times, serif;
  font-size:60px;
  text-align: center;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  font-style:italic;
  text-align:left;
  text-decoration:underline;
}

h3 {
  font-family:'Times New Roman', Times, serif;
  text-align:center;
}

h4 {
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  text-decoration:underline;
}

p {
  font-family:'Times New Roman', Times, serif;
  text-align:left;
}

ul {
  text-align:left;
}

/* unvisited link */
a:link {
  color:black;
}

/* visited link */
a:visited {
  color:blue;
}

/*img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%
}*/
